<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statisztika Message</title>
    <link rel="stylesheet" href="/jatek_message.css" />
</head>
<body>
    <div class="message-container">
        <div class="message-box">
            <h2 class="text">Játék mód</h2>
            <p class="text">Szia! <br> Mi vagyunk a PROtonS.
            <br> A csapatunk úgy gondolta különböző játékokkal tehetnénk különlegesség a projektünket.
            <br> Legalább 3 játékmódot szeretnénk tervezni, de ez akár bővülhet is.
            <br> Első játék módban a gyorsaságod tesztelheted majd, milyen gyorsan tudsz majd végére érni a tesztnek.
            <br> Második játék módban a helyes válaszaid számossága a fontos.
            </p>
        <button onclick="window.location.href='/'" class="klikkelheto-tartalom">Vissza</button>
    </div>
    <footer>
        <p>&copy; 2023 Human_MNIST</p>
        <img src="img/mnist/6_1858.jpg" alt="6" width="20" height="20">
    </footer>
</body>
</html>
