<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Játék</title>
    <link rel="stylesheet" href="/jatek.css">
</head>
<body>
    <header>
        <h2>Válassz nehézségi szintet!</h2>
    </header>
    <main>
        <div>
            <a href="/szint1">
                <img src="/auth/img/icons/number-one.png" alt="number one" class="klikkelheto-tartalom" width="100" height="100">
            </a>

            <a href="/szint2">
                <img src="/auth/img/icons/number-2.png" alt="number two" class="klikkelheto-tartalom" width="100" height="100">
            </a>

            <a href="/szint3">
                <img src="/auth/img/icons/number-3.png" alt="number three" class="klikkelheto-tartalom" width="100" height="100">
            </a>


        </div>
    </main>
    <button onclick="window.location.href='/project'" class="level-button klikkelheto-tartalom">Vissza</button>

    <footer>
        <p>&copy; 2023 Human_MNIST</p>
    </footer>
    <script src="jatek.js"></script>
</body>
</html>