<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Játék</title>
    <link rel="stylesheet" href="/jatek.css">
</head>
<body>
    <header>
        <h2>Válassz nehézségi szintet!</h2>
    </header>
    <main>
        <div class="level-buttons">
            <button onclick="window.location.href='/szint1'" class="level-button klikkelheto-tartalom">1. szint</button>
            <button onclick="window.location.href='/szint2'" class="level-button">2. szint</button>
            <button onclick="window.location.href='/szint3'" class="level-button">3. szint</button>
        </div>
        <button onclick="window.location.href='/project'" class="level-button klikkelheto-tartalom">Vissza</button>
    </main>
    <footer>
        <p>&copy; 2023 Human_MNIST</p>
    </footer>
    <script src="jatek.js"></script>
</body>
</html>