<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <title>Bejelentkezés</title>
</head>
<body>
    <div id="login-modal" class="modal hidden">
        <div class="modal-content">
            <header>
            <h2 id="modal-title">Bejelentkezés</h2>
        </header>
            <form id="modal-form" action="auth/login" method="POST">
                 <div class="form-group">
                    <label for="username">Felhasználónév:</label>
                    <input type="text" id="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Jelszó:</label>
                    <input type="password" id="password" required>
                </div>

                <button class="klikkelheto-tartalom" type="submit">Bejelentkezés</button>
                <button onclick="window.location.href='/'" class="klikkelheto-tartalom">Vissza</button>
            </form>
        </div>
    </div>
    <footer>
        <p>&copy; 2023 Human_MNIST</p>
    </footer>
</body>
</html>