<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/meres_eredmenyei.css" />
    <title>Human_MNIST Statistics</title>
    <script src="/meres.js"></script>
</head>
<body>
    <!-- Statistics Table -->
    <div id="statistics">
        <h3>Statisztika:</h3>
        <table border="1">
            <tr>
                <th>Megjelenített kép</th>
                <th>Kattintások száma</th>
            </tr>
            <tr>
                <td>0</td>
                <td id="count_0">0</td>
            </tr>
            <tr>
                <td>1</td>
                <td id="count_1">0</td>
            </tr>
            <tr>
                <td>2</td>
                <td id="count_1">0</td>
            </tr>
            <tr>
                <td>3</td>
                <td id="count_1">0</td>
            </tr>
            <tr>
                <td>4</td>
                <td id="count_1">0</td>
            </tr>
            <tr>
                <td>5</td>
                <td id="count_1">0</td>
            </tr>
            <tr>
                <td>6</td>
                <td id="count_1">0</td>
            </tr>
            <tr>
                <td>7</td>
                <td id="count_1">0</td>
            </tr>
            <tr>
                <td>8</td>
                <td id="count_1">0</td>
            </tr>
            <tr>
                <td>9</td>
                <td id="count_1">0</td>
            </tr>

        </table>
        <button onclick="window.location.href='/'" class="klikkelheto-tartalom">Vissza</button>

    </div>
    <footer>
        <p>&copy; 2023 Human_MNIST</p>
    </footer>

    <script>

    </script>
</body>
</html>
