<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mérés eredményei</title>
    <link rel="stylesheet" href="/alap.css">
</head>
<body>
    <header>
        <h2>Mérés eredményei</h2>
    </header>
    <main>

    </main>
    <footer>
        <p>&copy; 2023 Human_MNIST</p>
    </footer>
</body>
</html>