<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human_MNIST</title>
    <link rel="stylesheet" href="/project.css" />
</head>
<body>
    <script src="project.js"></script>
    <header>
        <h2>Válassz egy opciót!</h2>
    </header>
    <table>
        <tr>
          <td>
            <div style="text-align: center;">
              <button onclick="window.location.href='statisztika'" class="klikkelheto-tartalom">Statisztika</button><br>
              <img src="stat.jpg" alt="Statisztika kép" class="klikkelheto-tartalom" width="200" height="200" onclick="window.location.href='statisztika.html'">
              <p> itt statot szamolsz..blabla ezt majd szépen megfogalmazzuk!</p>
            </div>   
          </td>
          <td>
            <div style="text-align: center;">
              <button onclick="window.location.href='jatek'"class="klikkelheto-tartalom">Játék</button><br>
              <img src="game.jpg" alt="Játék kép"class="klikkelheto-tartalom" width="200" height="200" onclick="window.location.href='jatek.html'">
              <p> itt a jatek..blabla ezt majd szépen megfogalmazzuk!</p>
            </div>   
          </td>
        </tr>
      </table>
    

    <footer>
        <p>&copy; 2023 Human_MNIST</p>
    </footer>
</body>
</html>
