<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/project.css" />
    <title>Human_MNIST</title>
</head>
<body>
    <header>
        <h2>Válassz egy opciót!</h2>
    </header>
    <table>
        <tr>
            <td>
                <div style="text-align: center;">
                    <button onclick="window.location.href='/meres'" class="klikkelheto-tartalom">Mérés</button><br>
                    <a href="/stat_message">
                        <img src="stat.jpg" alt="Statisztika kép" class="klikkelheto-tartalom" width="200" height="200">
                    </a>
                    <p class="kep_leiras">Mi is a teszt?</p>
                    <p class="magyarazat">(A képre kattintva részletesebb információt kaphatsz)</p>
                    <button onclick="window.location.href='/meres_eredmenyei'" class="klikkelheto-tartalom">Mérés eredményei</button><br>
                </div>
            </td>
            <td>
                <div style="text-align: center;">
                    <button onclick="window.location.href='/jatek'" class="klikkelheto-tartalom">Játék</button><br>
                    <a href="/jatek_message">
                        <img src="game.jpg" alt="Játék kép" class="klikkelheto-tartalom" width="200" height="200">
                    </a>
                    <p class="kep_leiras">Mi is a játék?</p>
                    <p class="magyarazat">(A képre kattintva részletesebb információt kaphatsz)</p>
                    <button onclick="window.location.href='/jatek_tablazat'" class="klikkelheto-tartalom">Játék eredményei</button><br>
                </div>
            </td>
        </tr>
    </table>

    <footer>
        <p>&copy; 2023 Human_MNIST</p>
        <img src="img/mnist/6_1858.jpg" alt="6" width="20" height="20">
    </footer>
</body>
</html>
