<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/register.css" />
    <title>Regisztráció</title>
</head>
<body>
    <div id="register-modal" class="modal hidden">
        <div class="modal-content">
            <header>
                <h2 id="modal-title">Regisztráció</h2>
            </header>

            <form id="modal-form" action="/auth/register" method="POST">
                <div class="form-group">
                    <label for="email">Email cím:</label>
                    <input type="text" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Jelszó:</label>
                    <input type="password" id="password" name="password" required>
                </div>

                <button type="submit" class="klikkelheto-tartalom">Regisztráció</button>
                <button onclick="window.location.href='/'" class="klikkelheto-tartalom">Vissza</button>
            </form>
        </div>

        {{#if message}}
            <h4 class="alert alert-danger mt-4">{{message}}</h4>
        {{/if}}
    </div>

    <footer>
        <p>&copy; 2023 Human_MNIST</p>
    </footer>
</body>
</html>