<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statisztika Message</title>
    <link rel="stylesheet" href="/stat_message.css" />
</head>
<body>
    <form id="modal-form" action="/auth/project" method="POST"></form>
    <div class="message-container">
        <div class="message-box">
            <h2 class="text">Projektünk mérése</h2>
            <p class="text">Szia! <br> Mi vagyunk a PROtonS.
                <br> Ha a Statisztika gombra klikkelsz elindul majd neked egy teszt.
                <br> Itt neked annyi lesz a dolgod, hogy a megfelelő gombra kattintva megadod te melyik számot látod a megjelenő képen.
                <br> Ezzel segithetsz a csapatunknak célunk elérésében.
                <br> Célunk egy olyan rendszer létrehozása, mely segít a felhasználónak gyakorlottan felismerni a különböző írásos számokat.
                <br> Ez a weboldal megfelelő lesz számunkra is egy statisztikát készíteni,
                <br> hogy jelenleg az emberek milyen arányban gyakorlottak ezen számok ismerésében.
            </p>
            <button onclick="window.location.href='/'" class="klikkelheto-tartalom">Vissza</button>
        </div>
    </div>
    </form>

    <footer>
        <p>&copy; 2023 Human_MNIST</p>
        <img src="img/mnist/6_1858.jpg" alt="6" width="20" height="20">
    </footer>
</body>
</html>
